@import "nav.css";
@import "hero.css";
@import "variables.css";

/* RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: contain;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

button {
	border: none;
	padding: var(--btn-padding);
	border-radius: var(--radius);
}

/* UNIVERSAL STYLING */

body {
	font-family: var(--font-family-base);
	font-size: var(--font-size-base);
}

main {
	padding-top: var(--nav-height);
}

h1 {
	font-size: var(--font-size-h1);
}
h2 {
	font-size: var(--font-size-h2);
}
h3 {
	font-size: var(--font-size-h3);
}
h4 {
	font-size: var(--font-size-h4);
}
h5 {
	font-size: var(--font-size-h5);
}
h6 {
	font-size: var(--font-size-h6);
}

/* SHARED CLASSES */
.container {
	max-width: var(--container-max-width);
	padding: var(--container-padding);
	margin: 0 auto;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.btn-primary {
	background-color: var(--color-bg-red);
}

.btn-secondary {
	background-color: var(--color-bg-blue);
}

.btn-primary,
.btn-secondary {
	color: var(--color-text-white);
	font-weight: 800;
}
