@import "../variables.css";

.features {
	background-color: var(--color-bg-dark);
	color: var(--color-text-white);

	& header {
		padding: var(--padding-xl) 0;
	}

	& header > h2 {
		margin-bottom: var(--margin-sm);
	}

	& header > p {
		color: var(--color-text-white);
	}

	& figure {
		height: 500px;
	}

	& article {
		margin: auto 0;
	}

	& article > h3 {
		width: 15ch;
	}

	& article:nth-of-type(2) {
		text-align: right;
	}

	& article:nth-of-type(2) > h3 {
		float: right;
	}
}

.features-grid {
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: var(--gap-md);
	grid-row-gap: var(--gap-xl);
}
