@import "../variables.css";

.hero {
	background-image: url("../../assets/images/hero-background.png");

	& article,
	aside {
		width: 50%;
	}

	& article {
		flex-direction: column;
		gap: var(--gap-lg);
		justify-content: center;
	}

	& aside {
		height: 500px;
	}
}

.hero-content {
	gap: var(--gap-lg);
}

.hero-message-container {
	align-items: center;
	& .logo {
		width: 20px;
		height: 20px;
	}
}

.hero-message {
	font-weight: 700;
}
