@import "../variables.css";

nav {
	background-color: var(--color-bg-white);
	border-bottom: 1px solid var(--color-border-dark);
	color: var(--color-text-dark);
	padding: var(--padding-md) var(--padding-xl);
	position: fixed;
	z-index: 10;
	width: 100%;
	height: var(--nav-height);

	& a {
		color: inherit;
	}

	& .logo {
		height: 60px;
		width: 60px;
	}

	& span {
		font-size: 2rem;
		font-weight: 800;
		color: var(--color-text-red);
	}

	& ul {
		gap: 10px;
	}
}

nav,
nav > ul {
	justify-content: space-between;
	align-items: center;
}
